#main {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
  background-color: black;
  color: rgb(86, 86, 86);
  font-family: Copperplate;
  overflow: hidden;
}
